<!DOCTYPE html>
<html>
  <head>
    <title>RoomApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if current_user.signed_in? %>
      <div><%= current_user.email %></div>
    <% else %>
      <%= render "sign_in_form" %>
    <% end %>
    <%= yield %>
  </body>
</html>
